Simulador/node-red-flow.json
[
  {
    "id": "tab_simulador",
    "type": "tab",
    "label": "Simulador da Esteira",
    "disabled": false,
    "info": "Simula a esteira de reciclagem: a cada disparo gera uma peça, define o estado dos sensores (Atuador 1 = metal, Atuador 2 = plástico, Esteira) e chama o processamento na API .NET. Uma fração das peças tem leitura divergente, gerando refugos."
  },
  {
    "id": "sim_inject",
    "type": "inject",
    "z": "tab_simulador",
    "name": "Nova peça (a cada 4s)",
    "props": [{ "p": "payload" }],
    "repeat": "4",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 120,
    "wires": [["sim_fn_metal"]]
  },
  {
    "id": "sim_fn_metal",
    "type": "function",
    "z": "tab_simulador",
    "name": "Gerar peça + sensor metal",
    "func": "const materiais = ['Metálica', 'Plástica'];\nconst esperado = materiais[Math.floor(Math.random() * materiais.length)];\nconst erro = Math.random() < 0.12;\nlet detectado;\nif (erro) {\n    const opcoes = materiais.filter(m => m !== esperado).concat([null]);\n    detectado = opcoes[Math.floor(Math.random() * opcoes.length)];\n} else {\n    detectado = esperado;\n}\nflow.set('esperado', esperado);\nflow.set('detectado', detectado);\n\nmsg.method = 'POST';\nmsg.url = 'http://backend:8080/api/Monitoramento';\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { idSensor: 1, estado: detectado === 'Metálica' ? 'on' : 'off' };\nreturn msg;",
    "outputs": 1,
    "x": 420,
    "y": 120,
    "wires": [["sim_http_metal"]]
  },
  {
    "id": "sim_http_metal",
    "type": "http request",
    "z": "tab_simulador",
    "name": "POST sensor metal",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "headers": [],
    "x": 690,
    "y": 120,
    "wires": [["sim_fn_plastico"]]
  },
  {
    "id": "sim_fn_plastico",
    "type": "function",
    "z": "tab_simulador",
    "name": "Sensor plástico",
    "func": "const detectado = flow.get('detectado');\nmsg.method = 'POST';\nmsg.url = 'http://backend:8080/api/Monitoramento';\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { idSensor: 2, estado: detectado === 'Plástica' ? 'on' : 'off' };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 200,
    "wires": [["sim_http_plastico"]]
  },
  {
    "id": "sim_http_plastico",
    "type": "http request",
    "z": "tab_simulador",
    "name": "POST sensor plástico",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "headers": [],
    "x": 690,
    "y": 200,
    "wires": [["sim_fn_esteira"]]
  },
  {
    "id": "sim_fn_esteira",
    "type": "function",
    "z": "tab_simulador",
    "name": "Sensor esteira",
    "func": "msg.method = 'POST';\nmsg.url = 'http://backend:8080/api/Monitoramento';\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { idSensor: 3, estado: 'on' };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 280,
    "wires": [["sim_http_esteira"]]
  },
  {
    "id": "sim_http_esteira",
    "type": "http request",
    "z": "tab_simulador",
    "name": "POST esteira",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "headers": [],
    "x": 670,
    "y": 280,
    "wires": [["sim_fn_processar"]]
  },
  {
    "id": "sim_fn_processar",
    "type": "function",
    "z": "tab_simulador",
    "name": "Processar peça",
    "func": "msg.method = 'POST';\nmsg.url = 'http://backend:8080/api/Processamento/processar-peca';\nmsg.headers = { 'content-type': 'application/json' };\nmsg.payload = { tipoMaterialEsperado: flow.get('esperado') };\nreturn msg;",
    "outputs": 1,
    "x": 410,
    "y": 360,
    "wires": [["sim_http_processar"]]
  },
  {
    "id": "sim_http_processar",
    "type": "http request",
    "z": "tab_simulador",
    "name": "POST processar-peca",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "",
    "persist": false,
    "headers": [],
    "x": 690,
    "y": 360,
    "wires": [["sim_debug"]]
  },
  {
    "id": "sim_debug",
    "type": "debug",
    "z": "tab_simulador",
    "name": "Resultado",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 920,
    "y": 360,
    "wires": []
  }
]
